/* src/styling/Inventory.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #00b4db, #0083b0);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inventory-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.metric-box {
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-box {
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-chart-box {
  height: 250px;
}
