/* src/styling/Inventory.css */

.main-content {
  margin-left: 250px; /* Adjust based on the width of your NavigationPanel */
  padding: 20px;
}

.inventory-container {
  padding-top: 20px;
}

.metric-box, .chart-box, .small-chart-box {
  padding: 20px;
  text-align: center;
}

.chart-box {
  height: 400px;
}

.small-chart-box {
  height: 300px;
}

.ai-recommendations {
  margin-top: 20px;
  padding: 20px;
  background-color: #eae8e4;
}
