body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #2e70e1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px; /* Add padding for smaller screens */
  box-sizing: border-box; /* Ensure padding is included in the total width/height */
}

.login-box {
  background: linear-gradient(to right, #6a11cb, #2575fc); /* Gradient blue background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 100%; /* Ensure the box doesn't exceed the viewport width */
  padding: 20px;
  text-align: center;
}

.logo-img {
  width: 150px; /* Adjust the size as needed */
  max-width: 100%; /* Ensure the logo doesn't exceed the viewport width */
  margin-bottom: 20px;
}

.button-container {
  margin-bottom: 20px;
}

.button-container button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #2575fc;
  transition: background-color 0.3s, color 0.3s;
}

.button-container button:hover {
  background-color: #2575fc;
  color: #fff;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-size:
}