.profile-container {
    background-color: white;
    padding: 20px;
  }
  
  .metric-box {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(173, 216, 230, 0.6);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(173, 216, 230, 0.6);
  }
  
  .company-logo {
    max-width: 150px;
    height: auto;
  }
  
  .plus-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(173, 216, 230, 0.6);
  }
  